@model AdminPanelListingModel
@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                News from the World
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-user-circle"></i>
                    </div>
                    <div class="mr-5">@Model.NumberOfCustomers Customers</div>
                </div>
                <a asp-action="AllCustomers" class="card-footer text-white clearfix small z-1" >
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-newspaper-o"></i>
                    </div>
                    <div class="mr-5">@Model.NumberOfArticles News Articles</div>
                </div>
                <a asp-area="News" asp-controller="News" asp-action="Index" class="card-footer text-white clearfix small z-1" >
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-microchip"></i>
                    </div>
                    <div class="mr-5">@Model.NumberOfComponents Components</div>
                </div>
                <a asp-controller="Components" asp-action="Index" class="card-footer text-white clearfix small z-1" >
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">@Model.NumberOfOrders  Orders</div>
                </div>
                <a asp-controller="Orders" asp-action="Index" class="card-footer text-white clearfix small z-1" >
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <hr style="border-color: black"/>
        News feed
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">

            <iframe src="https://www.electronicsweekly.com/news/" class="embed-responsive embed-responsive-16by9" name="targetframe" allowTransparency="true" frameborder="1"></iframe>
        </div>
        <hr style="border-color: black" />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="http://www.newelectronics.co.uk/electronics-news/" class="embed-responsive embed-responsive-16by9" name="targetframe" allowTransparency="true" frameborder="1"></iframe>
        </div>
    </div>
    <hr style="border-color: black"/>
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">

            <iframe src="https://www.eevblog.com/" class="embed-responsive embed-responsive-16by9" " name="targetframe" allowTransparency="true" frameborder="1"></iframe>
        </div>
        <hr style="border-color: black" />
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.allaboutcircuits.com/news/" class="embed-responsive embed-responsive-16by9" name="targetframe" allowTransparency="true" frameborder="1"></iframe>
        </div>
    </div>         

 